{% extends 'base.html' %}

{% block content %}
  <h2>Delete Dog</h2>
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          Are you sure you want to delete 
            <span class="teal-text">{{ object.name }}</span> ?
        </div>
        <div class="card-action">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" value="Yes - Delete!" class="btn">
          <a href="{% url 'detail' dog.id %}" class="btn">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}