{% extends 'base.html' %} {% block content %}

<h2 class="whitebg">Create Your Account</h2>

<!-- signup errors get rendered here -->
<p class="whitebg" class="red-text">{{ error_message }}</p>

<!-- signup form -->
<form class="whitebg" method="POST" action="{% url 'signup' %}">
  {% csrf_token %} {{ form.as_p }}
  <input type="hidden" name="next" value="{{ next }}" />
  <button type="submit" class="btn">Sign Up</button>
</form>
<h2 class="whitebg"><a href="{% url 'login' %}">Already have an Account?</a></h2>

{% endblock %}
