{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stay and Play</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <!-- this allows us to get some pretty buttons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper teal lighten 4">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
        <div class="nav-wrapper teal lighten-2">
          <ul>
            <li>
              
              <a href="{% url 'home'%}" class="left brand-logo"><img src="https://imgur.com/R26iwEP.png">&nbsp;&nbsp;Stay and Play</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'about'%}">About</a></li>

            {% if user.is_authenticated %}            
              <li><a href="{% url 'dogs_create' %}">Add a Dog</a></li>
              <li><a href="{% url 'index' %}">Dogs</a></li>
              <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}            
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer teal lighten-2">
      {% if user.is_authenticated %} 
      <div class="left teal lighten-2">
        &nbsp;Logged in as: <span class="grey">{{ user.username }}</span>
      </div>
      {% endif %}
      <div class="right teal lighten-2">
        All Rights Reserved, <a id='admin' href=/admin>&copy;</a> 2023 Stay and Play &nbsp;
      </div>
    </footer>
  </body>
</html>
